* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 20px;    
}
button {
    font-size: 40px;
}
.title {
    position: absolute;
    top: -40px;
    font-size: 10em;
    height: 50%;
    width: 100%;
    text-align: center;
    background: skyblue;
}
.title::before{
    content: url("../images/ezgif.com-resize.gif")
}
.title::after{
    content: url("../images/ezgif.com-resize.gif")
}
#titlename2::before {
    content: url("../images/rsz_1rsz_down_burned.png");
}
.button-holder {
    position: absolute;
    top: 20%;
    height: 15%;
    width: 80%;
    text-align: center;
    background: red;
    overflow: auto;
}
.gifs {
    position: absolute;
    top: 35%;
    left: 0%;
    height: 100%;
    width: 80%;
    background: lightgreen;
    overflow: auto;
}
.favorite {
    position: absolute;
    top: 40%;
    right: 0%;
    height: 95%;
    width: 20%;
    background: purple;
}
.main-button {
    z-index: 2;
    width: 79.68%;
    height: 100%;
    float: left;
}
.button-input {
    position: absolute;
    top: 20%;
    right: 0%;
    width: 20%;
    height: 100%;
    float: left;
    text-align: center;
    margin-left: 1.5%;
    background: green;
}
.buttons {
    width: 125%;
    height: 90%;
    text-align: left;
    overflow: auto;
}
#search {
    height: 5%;
    width: 80%; 
}
.searchbutton {
    float: left;
    margin-left: 2%;
}
.number {
    width: 20%;
}
.titlegifs {
    text-align: center;
    position: sticky;
    top: 0%;
    z-index: 5;
    height: 5%;
    background: pink;
}
.maingifbody{
    width: 100%;
}
.favtext {
    text-align: center;
}
.favbody {
    border: 1px solid black;
}
#favoview {
    position: absolute;
    left: 25%;
    height: 5%;
    width: 50%;
}
img {
    width: 30%;
}
#numRecords {
    position: absolute;
    top: 20%;
    left: 55%;
    width: 30%;
}
#submit {
    position: absolute;
    left: 10%;
    top: 13%;
    width: 30%;
}
#submit2 {
    position: absolute;
    left: 50%;
    top: 13%;
    width: 40%;
}
.form-group {
    width: 40%;
    position: absolute;
    top: 3%;
    left: 45%;
}